In [3]:
DataStructure: Collection or group of data which will be stored in particular structure.
    1. List : 
    2. Tuple
    3. Dictionary
    4. Set

SyntaxError: invalid syntax (<ipython-input-3-5c1144783201>, line 1)

In [ ]:
List :
    List starts with square bracket

In [4]:
# Here i am storing one types of many variables in list (d)
a = 10 
b = 20
c=  30
d= [a,b,c]

In [5]:
d

[10, 20, 30]

In [6]:
# list stores 1-48 bytes of data:

In [7]:
print(len(d))

3

In [8]:
type(d)

list

In [9]:
# To run a program :shift+ enter

In [10]:
# Here i am storing mulitple types of many variables in list (d)
a= 'Sonu'  # String
b = 10.0 # Float
c = 5  # Int
e = "##&&&"
d = [a,b,c,e]
d

['Sonu', 10.0, 5, '##&&&']

In [11]:
print(len(d))

4

In [13]:
# Indexing or Slicing 
# index 0,1,2...

In [14]:
d[0]

'Sonu'

In [15]:
d[1]

10.0

In [16]:
d[2]

5

In [17]:
#Operations on List

In [18]:
d = ["Hi", 30,"Bangaluru"]

In [19]:
d

['Hi', 30, 'Bangaluru']

In [20]:
# Appending in list
d.append("Hello")

In [21]:
d

['Hi', 30, 'Bangaluru', 'Hello']

In [22]:
# Remove any values from list
d.pop()

'Hello'

In [23]:
d

['Hi', 30, 'Bangaluru']

In [24]:
d.remove("Bangaluru")

In [25]:
d

['Hi', 30]

In [26]:
d.copy()

['Hi', 30]

In [27]:
lang = ['R','Python','Java','Scala', 42,90]

In [28]:
lang

['R', 'Python', 'Java', 'Scala', 42, 90]

In [29]:
# append
lang.append(".net")
lang

['R', 'Python', 'Java', 'Scala', 42, 90, '.net']

In [30]:
lang[4]

42

In [31]:
# pop
lang.pop()

'.net'

In [32]:
lang

['R', 'Python', 'Java', 'Scala', 42, 90]

In [33]:
lang.pop()
lang

['R', 'Python', 'Java', 'Scala', 42]

In [34]:
# remove
lang.remove('Java')

In [35]:
lang

['R', 'Python', 'Scala', 42]

In [36]:
lang.remove(42)

In [37]:
lang

['R', 'Python', 'Scala']

In [38]:
# want to copy my original list
lang = ['R','Python','Java','Scala', 42,90]
lang1=lang.copy()

In [39]:
lang1

['R', 'Python', 'Java', 'Scala', 42, 90]

In [40]:
lang1.append("IQVIA")

In [41]:
lang1

['R', 'Python', 'Java', 'Scala', 42, 90, 'IQVIA']

In [42]:
# Insert
lang1.insert(4,"Hi")

In [43]:
lang1

['R', 'Python', 'Java', 'Scala', 'Hi', 42, 90, 'IQVIA']

In [44]:
# Convert string to list

In [45]:
Str= " Hi , How are you today"

In [46]:
# [Hi, How are you]

In [47]:
print(type(str))

<class 'type'>

In [48]:
list1=Str.split(",")

In [49]:
list1

[' Hi ', ' How are you today']

In [50]:
Str= "Hi , How are you today 678"
list1=Str.split(" ")
list1

['Hi', ',', 'How', 'are', 'you', 'today', '678']

In [51]:
# Convert list into string
str1=" ".join(list1)
str1

'Hi , How are you today 678'

In [52]:
# Slicing and dicing

In [53]:
str1="&".join(list1)
str1

'Hi&,&How&are&you&today&678'

In [54]:
str1="#".join(list1)
str1

'Hi#,#How#are#you#today#678'

In [55]:
str1="9".join(list1)
str1

'Hi9,9How9are9you9today9678'

In [56]:
a = [2,4,5,10,1,0,20,14]
a

[2, 4, 5, 10, 1, 0, 20, 14]

In [57]:
print(sorted(a))

[0, 1, 2, 4, 5, 10, 14, 20]

In [58]:
print(sorted(a,reverse=True))

[20, 14, 10, 5, 4, 2, 1, 0]

In [74]:
# Can a list contain another list?
a = [10,20]
b = ['Sonu',200]
c= ['Blr', 300.0]

d = [a,d,c]
d

[[10, 20],
 [[10, 20],
  [[10, 20], [[10, 20], ['Hi', 30], ['Blr', 300.0]], ['Blr', 300.0]],
  ['Blr', 300.0]],
 ['Blr', 300.0]]

In [76]:
# Can a list contain another list?
a = [10,20]
b = ['Sonu',200]
c= ['Blr', 300.0]

g = [a,d,c]
g

[[10, 20],
 [[10, 20],
  [[10, 20],
   [[10, 20], [[10, 20], ['Hi', 30], ['Blr', 300.0]], ['Blr', 300.0]],
   ['Blr', 300.0]],
  ['Blr', 300.0]],
 ['Blr', 300.0]]

In [70]:
d[0:2]

[[10, 20], [[10, 20], ['Hi', 30], ['Blr', 300.0]]]

In [71]:
d[2:0]

[]

In [72]:
d[1:0]

[]

In [60]:
'Blr'

'Blr'

In [61]:
print(d[2][0])

Blr

In [62]:
print(d[1][0])

Hi

In [63]:
print(d[0][:])

[10, 20]

In [64]:
print(d[0:1])

[[10, 20]]

In [65]:
print(d[0:2])

[[10, 20], ['Hi', 30]]

In [66]:
print(d[0:3])

[[10, 20], ['Hi', 30], ['Blr', 300.0]]

In [67]:
print(d[0:5])

[[10, 20], ['Hi', 30], ['Blr', 300.0]]

In [68]:
print(d[4])

IndexError: list index out of range

In [ ]:
#Replacing values
lang1

In [ ]:
lang1[3]='Machine Learning'

In [ ]:
lang1

In [ ]:
# Reverse Tracking
print(lang1[-1])
print(lang1[-2])
print(lang1[-8])

In [ ]:
print(lang1[:])

In [ ]:
print(lang1[:-1])

In [ ]:
print(lang1[:-2])

In [ ]:
print(lang1[:-4])

In [ ]:
# Practical Operations:

# Database ( tables is called as dataframe)
# dataframe consist of rows and columns
# One type of columns is there and you want to store that and want to modify or transform those particular columns 
# then you can use list, series.

In [ ]:
# Advnaced concept is there in list : list comprehension  ( need to cover loop)

In [ ]:
# Tuple : ()

In [ ]:
tup1= ("Sonu",20,"Blr",67,100)
tup1

In [ ]:
print(tup1[0])
print(tup1[2])

In [ ]:
tup1[2]="Hyd"

In [ ]:
tup1.count('Blr')

In [ ]:
tup1= ("Sonu",20,"Blr",'Blr',67,100)

In [ ]:
tup1.count('Blr')

In [ ]:
# Can we perform same operation in list?
print(type(tup1))

In [ ]:
# Can i convert this tuple into list
list2=list(tup1)
list2

In [ ]:
list2.count('Blr')

In [ ]:
tup1.append('Bang')

In [ ]:
# Can i convert list into tuple?
list2

In [ ]:
tuple(list2)

In [ ]:
c = list(list2)
print("The value of c is {} ".format(c))