In [2]:
Data Structures : 
    1. List
    2. Tuple
    3. Dictionary
    4. Set
    

# Can a list contain another list?
a = [10,20]
b = ['Sonu',200]
c= ['Blr', 300.0]

g = [a,b,c]
g

[[10, 20], ['Sonu', 200], ['Blr', 300.0]]

In [3]:
g[:]

[[10, 20], ['Sonu', 200], ['Blr', 300.0]]

In [4]:
g[:1]

[[10, 20]]

In [5]:
g[:2]

[[10, 20], ['Sonu', 200]]

In [6]:
g[:3]

[[10, 20], ['Sonu', 200], ['Blr', 300.0]]

In [7]:
g[0:]

[[10, 20], ['Sonu', 200], ['Blr', 300.0]]

In [8]:
g[1:]

[['Sonu', 200], ['Blr', 300.0]]

In [9]:
g[2:]

[['Blr', 300.0]]

In [10]:
g[3:]

[]

In [11]:
g[:3]

[[10, 20], ['Sonu', 200], ['Blr', 300.0]]

In [12]:
g[:2]

[[10, 20], ['Sonu', 200]]

In [13]:
g[0:2]

[[10, 20], ['Sonu', 200]]

In [14]:
g[0:1]

[[10, 20]]

In [17]:
g[::1]

[[10, 20], ['Sonu', 200], ['Blr', 300.0]]

In [18]:
g[::-1]

[['Blr', 300.0], ['Sonu', 200], [10, 20]]

In [20]:
str = "sir"
str1=str[::-1]
if(str==str1):
    print('palindrome')
else:
    print('not palindrome')

not palindrome

In [ ]:
# Dictionary : 
    which is used to collect data in the form key and value pair.

In [21]:
# dictionary starts with {}:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [23]:
# Key and value pair: 
credential = {"user1":"XXXX","user2":"yyyy"}

In [24]:
credential

{'user1': 'XXXX', 'user2': 'yyyy'}

In [25]:
credential1 = {'user1':"XXXX","age":25,"loc":"blr"}
credential1

{'age': 25, 'loc': 'blr', 'user1': 'XXXX'}

In [26]:
# I want to retrive its value:
credential1['user1']

'XXXX'

In [33]:
credential1['XXXX']

KeyError: 'XXXX'

In [27]:
credential1['age']

25

In [28]:
credential1.get('age')

25

In [ ]:
# wHAT ARE Keys inside your dictionary

In [29]:
credential1.keys()

dict_keys(['user1', 'age', 'loc'])

In [30]:
credential1.values()

dict_values(['XXXX', 25, 'blr'])

In [31]:
credential1.items()

dict_items([('user1', 'XXXX'), ('age', 25), ('loc', 'blr')])

In [32]:
# Can a list contain a tuple?   Yes
# Can a tuple contain a list ?  Yes

In [34]:
# Can i update my dictionary ?  Yes
credential1

{'age': 25, 'loc': 'blr', 'user1': 'XXXX'}

In [35]:
credential1['user1']='XYXY'

In [36]:
credential1

{'age': 25, 'loc': 'blr', 'user1': 'XYXY'}

In [37]:
# Can i add any other element in dictionary ? Yes
credential1["gender"] ='Male'

In [38]:
credential1

{'age': 25, 'gender': 'Male', 'loc': 'blr', 'user1': 'XYXY'}

In [41]:
# Can i delete any element from dictionary? 
credential1.pop('gender')

'Male'

In [42]:
credential1

{'age': 25, 'loc': 'blr', 'user1': 'XYXY'}

In [43]:
del credential1['age']
print(credential1)

{'user1': 'XYXY', 'loc': 'blr'}

In [46]:
credential1 = {'user1':"XXXX","age":25,"loc":"blr","gender":"Male"}
# why elemnet are nt deleted based on index: 0,1,2but in dictionary values are stored on the basis of keys and values
del credential1["loc"]
print(credential1)

{'user1': 'XXXX', 'age': 25, 'gender': 'Male'}

In [50]:
credential1 = {'user1':"XXXX","age":25,"loc":"blr","gender":"Male","user1":"XYXY"}
credential1

{'age': 25, 'gender': 'Male', 'loc': 'blr', 'user1': 'XYXY'}

In [51]:
credential1 = {'user1':"XXXX","age":25,"loc":"blr","gender":"Male","user1":"XXXX"}
credential1

{'age': 25, 'gender': 'Male', 'loc': 'blr', 'user1': 'XXXX'}

In [52]:
credential1.items()

dict_items([('user1', 'XXXX'), ('age', 25), ('loc', 'blr'), ('gender', 'Male')])

In [55]:
# Little idea about loop :
for key,val in credential1.items():
    print(key,val)

user1 XXXX
age 25
loc blr
gender Male

In [58]:
dict1={"User1":"123","rating":4,"comment":"Yes Ibibo is awesome website to book a hotel"}
dict2={"User2":"234","rating":2,"comment":"Not Ibibo is not awesome website to book a hotel"}

In [59]:
dict1

{'User1': '123',
 'comment': 'Yes Ibibo is awesome website to book a hotel',
 'rating': 4}

In [62]:
import pandas as pd
data=pd.DataFrame(dict1,index=['User','comment','rating'])

In [68]:
import pandas as pd
data1=pd.DataFrame(dict1,index=[0])

In [72]:
data1.reset_index().drop(['index'],axis=1)

  User1  rating                                       comment
0   123       4  Yes Ibibo is awesome website to book a hotel

In [63]:
data

        User1  rating                                       comment
User      123       4  Yes Ibibo is awesome website to book a hotel
comment   123       4  Yes Ibibo is awesome website to book a hotel
rating    123       4  Yes Ibibo is awesome website to book a hotel

In [73]:
dict1

{'User1': '123',
 'comment': 'Yes Ibibo is awesome website to book a hotel',
 'rating': 4}

In [74]:
dict2

{'User2': '234',
 'comment': 'Not Ibibo is not awesome website to book a hotel',
 'rating': 2}

In [ ]:
# It is not recommended to perform any mathematical operations on dictionary

In [75]:
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [76]:
dict1

{'User1': '123',
 'comment': 'Yes Ibibo is awesome website to book a hotel',
 'rating': 4}

In [77]:
for i in dict1:
    print(i)

User1
rating
comment

In [82]:
dict1.keys()

dict_keys(['User1', 'rating', 'comment'])

In [78]:
for i in dict1.values():
    print(i)

123
4
Yes Ibibo is awesome website to book a hotel

In [79]:
dict1.values()

dict_values(['123', 4, 'Yes Ibibo is awesome website to book a hotel'])

In [81]:
for key,val in dict1.items():
    print(key,val)

User1 123
rating 4
comment Yes Ibibo is awesome website to book a hotel

In [ ]:
# Resolve this issue we have another concept as Set()

In [83]:
# Set or Sets
A = ['a','a',10,20,30,10]
A

['a', 'a', 10, 20, 30, 10]

In [95]:
B = set(['a',10,20,30])
B

{10, 20, 30, 'a'}

In [96]:
A = set([10,20,30])
A

{10, 20, 30}

In [92]:
# Set does not allow duplicates values
A = ['a','a',10,20,30,10]
setA=set(A)
setA

{10, 20, 30, 'a'}

In [97]:
Create set using {} 
A = {10,20,'A'}
A

{10, 20, 'A'}

In [ ]:
# Operations on Set

In [98]:
list1=['A','B','10','20','30',40]
list2 = ['B','C',50,'30']

In [100]:
set1= set(list1)
set2= set(list2)

In [101]:
print(set1-set2)

{'10', 40, '20', 'A'}

In [102]:
print(set2-set1)
# C, 50

{50, 'C'}

In [105]:
# iNTERsection  A intersect B
print(set1.intersection(set2))

{'30', 'B'}

In [106]:
# Union A Union B
print(set1.union(set2))

{'10', 'C', 'A', 40, '30', 50, 'B', '20'}

In [107]:
print(set1-set2)
print("\n -------- ### ")
print(set1.difference(set2))

{'10', 40, '20', 'A'}

 -------- ###
{'10', 40, '20', 'A'}

In [108]:
print(set2-set1)
print("\n -------- ### ")
print(set2.difference(set1))

{50, 'C'}

 -------- ###
{50, 'C'}