In [1]:
def maximum(x,y):
    if x>y:
        return x
    else:
        return y

In [2]:
x= maximum(5,10)

In [3]:
x

10

In [5]:
def minimum(x,y,z):
    val = min(x,y,z)
    return val

In [6]:
y = minimum(5,15,20)

In [7]:
y

5

In [8]:
z = maximum(5,10) + minimum(5,15,20) + 2*maximum(5,10)
z

35

# Write a prgram to calculate the net salary of an employee
* CTC salary =  basic + gross +  hra + IT Tax + VariablePay

In [9]:
def basic(basic):
    basic = basic / 10
    return basic

def hra(basic):
    hra = basic + basic * 10/100
    return hra
    
def IT_Tax(basic):
    tax = basic * .05
    return tax
 
def gross(basic):
    gross = basic + basic * .20
    return gross

In [11]:
CTC_salary = basic(10000)  + hra(10000) + IT_Tax(10000)+ gross(10000)
CTC_salary

24500.0

#### Being a owner of hotel --- you are about to pay tax,,,,and know the components os taxes.... and then find amount whether 
#### will be returned by Gov or you need to pay
* 2018-2019 -- 200000
* Paid Tax = 15000
* GST , CGST , Service Tax 
* Real Tax = 16000
* Need to pay = 1000

In [14]:
def SGST(money_earned):
    SGST = money_earned* .15
    return SGST
def CGST(money_earned):
    CGST = money_earned * .20
    return CGST
def ST(money_earned):
    ST = money_earned* .25
    return ST

In [15]:
Tax_Paid = int(input("Enter the amount which you paid as tax"))
Real_tax = SGST(200000)+ CGST(200000)+ST(200000)
if (Tax_Paid > Real_tax):
    return_amount = Tax_Paid - Real_tax
    print("You will receive the amount", return_amount)
elif(Tax_Paid < Real_tax):
    amount_to_pay =  Real_tax - Tax_Paid
    print("You need to pay tax amount", amount_to_pay)

Enter the amount which you paid as tax15000
You need to pay tax amount 105000.0

In [16]:
# INSIDE one function 
def Real_tax(money_earned):
    SGST = money_earned* .15
    CGST = money_earned * .20
    ST = money_earned* .25
    Real_tax = SGST + CGST + ST
    return Real_tax

In [17]:
Real_tax(200000)

120000.0

In [ ]:
# Lambda Function
# syntax : lambda returntype : conditionalstatement

In [18]:
def mul(x,y):
    z = x*y
    return z

In [19]:
mul(5,6)

30

In [22]:
z = lambda x,y:x*y
z

In [23]:
z(5,6)

30

In [24]:
# Print minimum values of two arguments:
def min_val(x,y):
    if x < y :
        return x
    else:
        return y

In [25]:
min_val(5,10)

5

In [27]:
# through lambda function
z = lambda x,y: x if x < y else y

In [28]:
z(5,10)

5

# Map function

In [ ]:
list_val = [2,4,6,8]
output = [4,16,36,64]

In [30]:
z=lambda x:x**2
z

In [34]:
z(4)

16

In [33]:
z([2,4,6,8])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [ ]:
# Syntax of map function
map(function,input_arg)

In [35]:
map(z,[2,4,6,8])

In [36]:
list(map(z,[2,4,6,8]))

[4, 16, 36, 64]

In [ ]:
# WRITE a map function to find cube of a list
#input = [2,3,4,5]
#output = [8,27,64,125]

In [37]:
def cube(x):
    z = x**3
    return z

In [38]:
cube(2)

8

In [40]:
# lambda function :
map(lambda x: x**3,[2,3,4,5])

In [41]:
list(map(lambda x: x**3,[2,3,4,5]))

[8, 27, 64, 125]

In [42]:
w = [2,3,4,5,5,6,7]
list(map(lambda x: x**3,w))

[8, 27, 64, 125, 125, 216, 343]

In [57]:
list(map(lambda x: x**3,[2,3]))

[8, 27]

In [61]:
def cube(n): 
    return n**3

val = (1, 2, 3, 4) 
map(cube, val)

In [62]:
list(map(cube, val))

[1, 8, 27, 64]

In [63]:
def cube(n): 
    return n**3

val = [1, 2, 3, 4] 
map(cube, val)

In [64]:
tuple(map(cube, val))

(1, 8, 27, 64)