Basic : if statements:

In [ ]:
syntax :
if (condition 1):
    print("hI we are in")

In [ ]:
syntax:
if(condition1):
    print("hi")
elif(condition2):
    print("hello")
elif(condition3):
    print("hello2")
    
    
    --------------------
    
    
else:
    print("Yes it is not satisfied any above condition")

In [ ]:
score = 89  -- First class  --- ( > 60)
score= 56   -- Seconds Class  ( 40 - 60)
score= 30  -- Third class  ( 30-40)
score < = 30 -- Failed  (< 30)

In [3]:
score = int(input("Enter your score   : "))
if (score >= 60):
    print("First class")
elif((score >= 40) & (score < 60)):  
    print("second class")
elif((score >= 30) & (score < 40)):
    print("third class")
else:
    print("Failed")

Enter your score   : 56
second class

In [ ]:
Generic Question : A , B , C - find the greatest number among three values.   -- Assignment

In [ ]:
# Example : enter number and check whether it is even , odd or divisible by 3

In [ ]:
even -- 2,4,6,8,10...
odd -- 1,3,5,,7
divisible by 3 -- 3,6,9,12,

In [ ]:
# ( + ,- , * , /, %, |, & )

In [4]:
num = int(input("Enter your number   : ")) 
if (num%2 ==0):
    print("This is even number")
elif(num%2!=0):
    print("This is odd number")
elif(num%3 == 0):
    print("This is divisible by 3")
else:
    print("Invalid number")

Enter your number   : 27
This is odd number

# Looping  -- for , while

In [5]:
range(1,11)

range(1, 11)

In [6]:
#syntax :
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11):
    if(i%2 == 0):
        print(i)

2
4
6
8
10

In [8]:
str = "Hi This is Sonu from Bangalore"

In [10]:
for i in str:
    if i in 'aeiou':
        print(i)

i
i
i
o
u
o
a
a
o
e

In [13]:
# To find number of vowels in string
c= 0
for i in str:
    if i in 'aeiou':
        c = c+1
    print(c)

0
1
1
1
1
2
2
2
3
3
3
3
4
4
5
5
5
5
6
6
6
6
7
7
7
8
8
9
9
10

In [12]:
# To find number of vowels in string
c= 0
for i in str:
    if i in 'aeiou':
        c = c+1
print(c)

10

In [ ]:
num = '897789383989399989889'
ask was to count even and odd number in the given number

In [20]:
num = '897789383989399989889'
even = 0
odd=0
for i in num:
    if (int(i)%2==0):
        even = even +1
    elif(int(i)%2 !=0):
        odd=odd+1
print(even)
print(odd)

7
14

## for loop in list :

In [24]:
# number of fruits = ?
# number of veg = ?

basket = ['apple','potato','mango','onion','toothbrush']
fruit_num = 0
veg_num=0
other_item = 0
for i in basket:
    if i in ('apple','mango'):
        fruit_num = fruit_num +1
    elif i in ('potato','onion'):
        veg_num=veg_num+1
    else:
        other_item =other_item +1
print("the fruit num is",fruit_num)
print("the veg num is" ,veg_num)
print("other item num is", other_item)

the fruit num is 2
the veg num is 2
other item num is 1

In [25]:
basket = ['apple','potato','mango','onion','toothbrush']
fruit_list = ['apple','mango']
veg_list = ['potato','onion']
fruit_num = 0
veg_num=0
other_item = 0
for i in basket:
    if i in fruit_list:
        fruit_num = fruit_num +1
    elif i in veg_list:
        veg_num=veg_num+1
    else:
        other_item =other_item +1
print("the fruit num is",fruit_num)
print("the veg num is" ,veg_num)
print("other item num is", other_item)

the fruit num is 2
the veg num is 2
other item num is 1

In [27]:
str = " @Ram, Please take care of #taffic rules in #Bangalore"
# startswith("@")
# startswith('#')

In [33]:
num_at = 0
num_hash = 0
for i in str.split():
    if(i.startswith('@')):
        num_at +=1
    elif(i.startswith('#')):
        num_hash +=1
print(num_at)
print(num_hash)

1
2

## for loop in dictionary :

In [34]:
student = {1: ['Shivam',20], 2: ['Narayan',30],3:['Saif',45]}
student

{1: ['Shivam', 20], 2: ['Narayan', 30], 3: ['Saif', 45]}

In [35]:
student.get(1)

['Shivam', 20]

In [36]:
student[2]

['Narayan', 30]

In [39]:
import pandas as pd
df = pd.DataFrame(student)

In [42]:
df1=df.T
df1.columns = ['Name','Age']
df1

      Name Age
1   Shivam  20
2  Narayan  30
3     Saif  45

In [44]:
for i in student:
    print(i)

1
2
3

In [45]:
student

{1: ['Shivam', 20], 2: ['Narayan', 30], 3: ['Saif', 45]}

In [49]:
for i in student:
    print(i)

1
2
3

In [46]:
for key in student.keys():
    print(key)

1
2
3

In [47]:
for val in student.values():
    print(val)

['Shivam', 20]
['Narayan', 30]
['Saif', 45]

In [48]:
for key,val in student.items():
    print(key,val)

1 ['Shivam', 20]
2 ['Narayan', 30]
3 ['Saif', 45]