In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
looping - for , while ( statements : pass, break, continue )
          Comprehension

In [2]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [6]:
lst = []
for i in range(2,100,3):
    print(i,end = " ")

2 5 8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89 92 95 98

In [12]:
lst = []
for i in range(1,10):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
*
**
***
****

In [14]:
# Nested Loop
for i in range(1,5):
    for j in range(0,i):
        print("*", end = " ")
    print(" ")

*
* *
* * *
* * * *

In [ ]:
1
2 3
4 5 6
7 8 9 10

In [25]:
a = 1
for i in range(1,5):
    for j in range(0,i):
        print(a, end = " ")
        a = a+1
    print(" ")

1
2 3
4 5 6
7 8 9 10

In [17]:
# Nested Loop
for i in range(1,5):
    for j in range(0,i):
        print(j+1, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4

In [15]:
# Nested Loop
for i in range(1,5):
    for j in range(0,i):
        print(i, end = " ")
    print(" ")

1
2 2
3 3 3
4 4 4 4

In [ ]:
 #  Try this : 
*
**
***
****

In [ ]:
# While loop : 
while( condition):
    expression

In [27]:
n = int(input("Enter your number"))
while(n != 0):
    print(n)
    n=n-2

Enter your number10
10
8
6
4
2

In [29]:
# This expression is wrong , hence loop does not enters into while loop
n = int(input("Enter your number"))
while(n < 0):
    print(n)
    n=n-2

Enter your number10

In [30]:
# while loop ( 20,21.......50)
start = 20
total = 0
while(start < 51):
    total = total + start
    start = start + 1
print(total)

1085

In [31]:
# while loop ( 2, 4,6,8...20)  (2+4+6+8+10+12....20)
start = 2
total = 0
while(start < 21):
    total = total + start
    start = start + 2
print(total)

110

In [ ]:
# Write a program for Prime number.  (2,3,5,7,11,13.............)  
23 is prime number (2, 3 ,5, 7) 
19 is prime number (2, 3 ,5, 7) 
29 is prime number (2, 3 ,5, 7) 

take input from command prompt

In [ ]:
# n =  11 is a prime number of not
# c = 0
# for i in n//2:
#     if (n%i == 0):
#         c = c+1
#     if ( c==2):
#         print("prime number")

In [34]:
# Palindrome number 
str = "madam1"
str1 = str[:: -1]
if (str == str1):
    print("Palindrome")
else:
    print("not palindrome")

not palindrome

In [ ]:
# Write a program for Fibonacci series 
# 0,1,1,2,3,5,8,13, 21........

In [ ]:
# Write a program for Factorial series
! 5 = 5*4*3*2*1 = 120

In [35]:
# List comprehension
lst = []
for i in range(1,10):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
list_com= [i for i in range(1,10)]
print(list_com)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# input =  [ 1,2,3,4,5]
# output = [ 1,4,9,16,25]

In [38]:
# For loop to achieve this
lst = []
for i in range(1,6):
    lst.append(i*i)
print(lst)

[1, 4, 9, 16, 25]

In [39]:
# now list comprehension: 
[i*i for i in range(1,6)]

[1, 4, 9, 16, 25]

In [40]:
paragraph = "There was a fox and it was brown in color and it was seen near the forest"
paragraph

'There was a fox and it was brown in color and it was seen near the forest'

In [41]:
# Convert string into list
paragraph1 = paragraph.split("and")
paragraph1

['There was a fox ', ' it was brown in color ', ' it was seen near the forest']

In [ ]:
# Output:
# ['There', 'was','a','fox','it', 'was'..................'forest']

In [45]:
# For loop
single_word = []
for sent in paragraph1:
    for word in sent.split():
        single_word.append(word)
print(single_word)

['There', 'was', 'a', 'fox', 'it', 'was', 'brown', 'in', 'color', 'it', 'was', 'seen', 'near', 'the', 'forest']

In [47]:
# List comprehension
single_word = [word for sent in paragraph1 for word in sent.split()]
print(single_word)

['There', 'was', 'a', 'fox', 'it', 'was', 'brown', 'in', 'color', 'it', 'was', 'seen', 'near', 'the', 'forest']

In [48]:
# Target to achieve : ['a','it','in','it']
# For loop
single_word = []
for sent in paragraph1:
    for word in sent.split():
        if(word[0].lower() in ('a','e','i','o','u')):
            single_word.append(word)
print(single_word)

['a', 'it', 'in', 'it']

In [51]:
# Using List comprehension now
[word for sent in paragraph1 for word in sent.split() if word[0].lower() in ('a','e','i','o','u')]

['a', 'it', 'in', 'it']

In [55]:
str = "Bangalore"
print(str[1])

a