In [ ]:
student = {1: ['Shivam',20], 2: ['Narayan',30],3:['Saif',45]}
student